{% load staticfiles %}
<head>
	<link rel="stylesheet" href="{% static 'css/userid.css' %}">
</head>
<html>
		<ul>
			<li><a href= "/">Home</a></li>
			<li><a  href="/games/">Games</a></li>
			<li><a  class="active" href="/users/">Users</a></li>

		</ul>
	<!-- <button type="submit" value="next" formmethod="GET" class="next"> > </button> -->
	<div class="main">
		<div class="friends">
			{% for friend in friends %}
				<div class="friend">
					ID: {{friend.steamid2}}
				</div>
			{% endfor %}
		</div>
		<div class=Users>
			<div class=User>
				<div class="id">
					ID: {{user.id}}
				</div>
				<div class="nick">
					Nick: {% if user.persona_name %} {{user.persona_name}} {% endif %}
				</div>
				<div class="name">
					Name: {% if user.real_name %} {{user.real_name}} {% endif %}
				</div>
			</div>
		</div>
		<div class="games">
			{% for game in games %}
				<div class="game">
					GameID: {{game.appid}}
				</div>
			{% endfor %}
		</div>
	</div>
</html>