{% load staticfiles %}
<head>
	<link rel="stylesheet" href="{% static 'css/userid.css' %}">
</head>
<html>
		<ul>
			<li><a href= "/">Home</a></li>
			<li><a  href="/games/">Games</a></li>
			<li><a  class="active" href="/users/">Users</a></li>

		</ul>
	<!-- <button type="submit" value="next" formmethod="GET" class="next"> > </button> -->
	<div class="main">
		<div class="friends">
			{% for friend in friends %}
				<form action="" method="GET">
				<button name="steamid" value="{{friend.uid2.uid}}" class="friend">
					{% if friend.uid2.nickname %}
					{{friend.uid2.nickname}}
					{% else %}
					ID: {{friend.uid2.uid}}
					{% endif %}
				</button>
				</form>
			{% endfor %}
		</div>
		<div class=Users>
			<div class=User>
				<div class="id">
					ID: {{user.uid}}
				</div>
				<div class="nick">
					Nick: {% if user.nickname %} {{user.nickname}} {% endif %}
				</div>
				<div class="name">
					Name: {% if user.realname %} {{user.realname}} {% endif %}
				</div>
			</div>
		</div>
		<div class="games">
			{% for game in games %}
				<form action="" method="GET">
				<button name="appid" value="{{game.appid.appid}}" class="game">
					{% if game.appid.name %}
					{{game.appid.name}}
					{% else %}
					AppId: {{game.appid.appid}}
					{% endif %}
				</button>
				</form>
			{% endfor %}
		</div>
	</div>
</html>