{% load staticfiles %}
<head>
	<link rel="stylesheet" href="{% static 'css/users.css' %}">
</head>
<html>
		<ul>
			<li><a href= "/">Home</a></li>
			<li><a  href="/games/">Games</a></li>
			<li><a  class="active" href="/users/">Users</a></li>

		</ul>
	<form action="" method="GET">
		<button name="next" value="next" class="next">></button>
	</form>
		<form action="" method="GET">
		<button name="prev" value="prev" class="prev" {{disabled}}><</button>
	</form>
	<!-- <button type="submit" value="next" formmethod="GET" class="next"> > </button> -->
	<div class="main">
		<div class=Users>
		{%  for user in users %}
			<form action="" method="GET">
			<button name = "steamid" value= "{{user.uid}}" class=userbutton>
				<div class="id">
					ID: {{user.uid}}
				</div>
				<div class="nick">
					Nick: {% if user.nickname %} {{user.nickname}} {% endif %}
				</div>
				<div class="name">
					Name: {% if user.realname %} {{user.realname}} {% endif %}
				</div>
			</button>
			</form>
		{% endfor %}
		</div>
	</div>
</html>